.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.bucket_animation {
  background-color: green;
  transition: 1s linear;
}
.bucket {
  width: 200px;
  height: 450px;
  margin: 0 24px;
  display: flex;
  align-items: end;
  border-radius: 8px;
  border-bottom: 2px solid;
  border: 2px solid;
}
.water-tank {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.btn {
  padding: 8px 12px;
  border-radius: 4px;
  margin-top: 16px;
  border: none;
}
.btn-remove {
  background-color: #bb3030;
  color: white;
  margin-left: 23px;
}
.btn-add {
  background-color: rgb(24, 120, 216);
  color: white;
  padding: 0px 16px;
  user-select: none;
}
.app_heading {
  text-align: center;
}
.btn-container {
  margin: 0 24px;
  display: flex;
  justify-content: space-around;
}
.bucket-container {
  flex: 1;
  display: grid;
  place-items: center;
  margin-top: 12px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .water-tank {
    flex-direction: column;
    align-items: center;
  }
}
